{% extends 'base.html' %}
{% block content %}
{% if message %}
{{ message }}
{% else %}
<p>Vous allez supprimer le ticket suivant:</p>
<h3>Titre: {{ ticket.title }}</h3>
<h3>Déscription:</h3>
<p>{{ ticket.description }}</p>
{% if ticket.image %}
<h3>Image:</h3>
<img src="{{ ticket.image.url }}">
{% endif %}
<p>créateur: {{ ticket.user }}</p>
<form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Supprimer">
</form>
<a href="{% url 'home' %}"><button>Annuler</button></a>
{% endif %}
{% endblock content %}