{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if message %}
{{ message }}
{% elif post %}
<p>Vous allez supprimer le ticket suivant:</p>
{% include "review/snippets/ticket_snippet.html" %}
<div class="ticketdeleteform">
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="Supprimer">
    </form>
    <form action="{% url 'home' %}" method="get">
        <button>Annuler</button>
    </form>
</div>
{% endif %}
{% block page_scripts %}
<script src="{% static 'button_deletion.js' %}"></script>
{% endblock %}
{% endblock content %}