{% extends 'base.html' %}
{% block content %}
{% if message %}
{{ message }}
{% else %}
<p>Vous allez supprimer la critique suivante:</p>
<h3>Titre: {{ review.headline }}</h3>
<h3> Critique:</h3>
<p>{{ review.body }}</p>
<p>Qui répond au ticket suivant:</p>
<h3>Titre: {{ review.ticket.title }}</h3>
<h3>Déscription:</h3>
<p>{{ review.ticket.description }}</p>
{% if review.ticket.image %}
<h3>Image:</h3>
<img src="{{ review.ticket.image.url }}">
{% endif %}
<p>créateur: {{ review.ticket.user }}</p>
<form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Supprimer">
</form>
<a href="{% url 'home' %}"><button>Annuler</button></a>
{% endif %}
{% endblock content %}