{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if message %}
{{ message }}
{% elif post %}
<p>Vous allez supprimer la critique suivante:</p>
{% include "review/snippets/review_snippet.html" %}
<div class="reviewdelete">
<form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Supprimer">
</form>
<form action="{% url 'home' %}"><button>Annuler</button></form>
</div>
{% block page_scripts %}
<script src="{% static 'rating.js' %}"></script>
<script src="{% static 'button_deletion.js' %}"></script>
{% endblock %}
{% endif %}
{% endblock content %}