{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if message %}
{{ message }}
{% elif post %}
<p>Vous allez modifier la critique suivante:</p>
{% include "review/snippets/review_snippet.html" %}
<div class="reviewupdate">
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Envoyer">
</form>
</div>
<div class="reviewupdatecancel">
<form action="{% url 'home' %}" method="get"><button>Annuler</button></form>
</div>
{% block page_scripts %}
<script src="{% static 'button_deletion.js' %}"></script>
<script src="{% static 'rating.js' %}"></script>

{% endblock %}
{% endif %}
{% endblock content %}