{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if message %}
{{ message }}
{% elif post %}
<p>Vous allez modifier le ticket suivant:</p>
{% include "review/snippets/ticket_snippet.html" %}
<div class="ticketupdateform">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Envoyer">
    </form>
</div>
<div class="reviewupdatecancel">
    <form action="{% url 'home' %}" method="get"><button>Annuler</button></form>
</div>
{% endif %}
{% block page_scripts %}
<script src="{% static 'button_deletion.js' %}"></script>
{% endblock %}
{% endblock content %}