body {
    margin: 0px;
    border: 0px;
}


.band_header {
    position: absolute;
    background-color: cadetblue;
    height: 6%;
    width: 100%;
    top: 0px;
    margin-left: 0px;
    
}

.main_content {
    position: relative;
    top: 6%;
}