html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    border: 0px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.topnav {
    position: sticky;
    background-color: cadetblue;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
}

img {
    height: 800px;
    width: 800px;
}

.topnav .greeting {
    align-items: center;
}

.topnav .greeting h1 {
    margin: 8px;
    padding: 8px;
}

.topnav .greeting p {
    flex-grow: 1;
    text-align: center;
}

.topnav .navcell {
    display: flex;
    justify-content: flex-end;
}

.topnav .navcell a {
    text-align: center;
    padding: 14px 16px;
    border: 1px rgb(62, 112, 113) groove;
    box-shadow: 1px 1px 1px rgb(62, 112, 113) inset;
}

.topnav .navcell a:hover {
    background-color: rgb(62, 112, 113);
    color: black;
}

.main_content {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px black;
    flex-grow: 1;
    justify-content: space-around;
    align-items: stretch;
}

.main_content .quicklink {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 80px;
}

.main_content .quicklink button {
    background-color: cadetblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.main_content .quicklink button:hover {
    background-color: rgb(53, 101, 101);
}

.main_content .sectiontitle {
    text-align: center;
}

.ticket {
    display: flex;
    flex-direction: column;
    border: 1px black;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    padding: 5px;
    margin: 5px;
}

.ticket .header {
    border: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    justify-content: space-between;
}


.ticket .body {
    border: none;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.ticket .body h3 {
    font-size: 1.6em;
}

.ticket .body p {
    font-size: 1.4em;
}

.ticket .foot {
    width: 100%;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.ticket .foot button {
    margin: 5px;
    padding: 5px;
}

.ticketdeleteform {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ticketupdateform {
    display: flex;
    border: 1px black solid;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.ticketanswer {
    display: flex;
    border: 1px black solid;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.reviewupdate {
    display: flex;
    border: 1px black solid;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.reviewdelete {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
}


.review {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    padding: 5px;
    margin: 5px;
}

.review .header {
    border: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    justify-content: space-between;
}

.review .header p {
    margin-right: 10px;
}

.review .mainbody {
    border: none;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.review .mainbody p {
    display: flex;
    font-size: 1.5em;
    width: 100%;
}


.review .incrustedticket {
    padding: 10px;
    margin: 10px;
}

.review .incrustedticketheader {
    width: 100%;
    border: none;
    flex-direction: row;
    justify-content: space-between;
}

.review .incrustedticketbody {
    border: none;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.review .body h3 {
    font-size: 1.6;
}

.review .mainheader {
    border: none;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.review .mainheadertitle {
    border: none;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.review .mainheadertitle h3 {
    font-size: 2em;
}

.review .mainheaderrating {
    border: none;
    width: 100%;
    margin-left: 20px;
}

.review .foot {
    width: 100%;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.review .foot button {
    margin: 5px;
    padding: 5px;
}

.loginmain {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}

.inscriptionmain {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.inscriptionmain form {
    text-align: center;
}

.inscriptionmain li {
    text-align: start;
}

.inscriptionmain .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.inscriptionmain p {
    display: flex;
    flex-direction: column;
}

.ticketcreation {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.reviewcreation {
    border: 1px black solid;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.ticketcreation p {
    display: flex;
    flex-direction: column;
}

.reviewcreation p {
    display: flex;
    flex-direction: column;
}

.followmain {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.followmain p {
    display: flex;
    flex-direction: column;
}

.review .mainheaderrating {
    font-size: 2.5em;
    display: flex;
    flex-direction: row;
    border: none;
    color: gray;
}

.review .mainheaderrating .checked {
    color: gold;
}


.followerdisplay ul {
    display: flex;
    flex-direction: column;
}

.followerdisplay li {
    display: inline-flex;
    
}

.followerdisplay li  button {
    margin-left: 4px;
}

.reviewupdatecancel {
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
}