<div class="review">
    <div class="review header">
        {% if request.user == post.user %}
        <p>Vous avez publié une critique</p>
        {% elif post.user != request.user %}
        <p>{{ post.user}} a publié une critique</p>
        {% endif %}
        <p> {{ post.time_created }}</p>
    </div>
    <div class="review mainheader">
        <div class="review mainheadertitle ">
            <h3>{{ post.headline }} </h3>
        </div>
        <div class="review mainheaderrating">
            <p hidden>{{ post.rating }}</p>
            <div class="starcontainer">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
        </div>
    </div>
    <div class="review mainbody">
        <p>{{ post.body }} </p>
    </div>
    <div class="review incrustedticket">
        <div class="review incrustedticketheader">
            {% if request.user == post.ticket.user %}
            <p>Vous avez demandé une critique</p>
            {% elif post.ticket.user != request.user %}
            <p>{{ post.ticket.user}} a demandé une critique</p>
            {% endif %}
            <p> {{ post.time_created }}</p>
        </div>
        <div class="review incrustedticketbody">
            <h3>{{ post.ticket.title }}</h3>
            <p>{{ post.ticket.description }}</p>
            {% if post.ticket.image %}
            <img src="{{ post.ticket.image.url }}">
            {% endif %}
        </div>
    </div>
    <div class="review foot">
        {% if request.user == post.user %}
        <form action="{% url 'review_update' post.id %}" method="get">
            <button>Modifier</button>
        </form>
        <form action="{% url 'delete_review' post.id %}">
            <button>Supprimer</button>
        </form>
        {% endif %}
    </div>
</div>