<div class="ticket">
    <div class="ticket header">
        {% if request.user == post.user %}
        <p>Vous avez demandé une critique</p>
        {% elif post.user != request.user %}
        <p>{{ post.user}} a demandé une critique</p>
        {% endif %}
        <p> {{ post.time_created }}</p>
    </div>
    <div class="ticket body">
        <h3>{{ post.title }}</h3>
        <p>{{ post.description }}</p>
        {% if post.image %}
        <img src="{{ post.image.url }}">
        {% endif %}
    </div>
    <div class="ticket foot">
        {% if post.review_count == 0 %}
        <form action="{% url 'answer_ticket' post.id %}" method="get">
            <button>Créer une critique</button>
        </form>
        {% endif %}
        {% if request.user == post.user %}
        <form action="{% url 'ticket_update' post.id %}" method="get">
            <button>Modifier</button>
        </form>
        <form action="{% url 'delete_ticket' post.id %}" method="get">
            <button>Supprimer</button>
        </form>
        {% endif %}
    </div>
</div>